<div [ngClass]="alerta" class="alert" role="alert">
  This is a success alert—check it out!
</div>
<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button type="button" class="btn btn-succes" (click)="alerta = 'alert-success'">Success</button>

<br/>
<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
  Hola mundo
</h3>


<button type="button"  class="btn"  [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger }" (click)="propiedades.danger = !propiedades.danger">Cambiar</button>
<hr />
<h3>
Proceso asincrono</h3>

<button (click)="ejecutar()" type="button"  class="btn btn-primary">
<i class="fa" [ngClass]="{'fa-save': !propiedades.danger,'fa-sync fa-spin': propiedades.danger}"></i>
<!-- <i class="fas fa-sync fa-spin"></i> -->
Guardar cambios
</button>
